
<nav   class="navbar navbar-expand-lg navbar-dark bg-dark">
    <h3 style="color: white;">  Amason</h3>

    <div class="container-fluid">
      
      <div  class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" [routerLink]="['/']">Home</a>
          <a class="nav-link" [routerLink]="['/Cart']">Cart🛒{{total}}</a>
          <a  class="nav-link" [routerLink]="['/Product']">Add New Product <img style="height: 0.7cm; width:0.8cm ;" src="https://cdn.iconscout.com/icon/premium/png-512-thumb/add-product-4-837051.png" alt=""> </a>

          <a style="margin-left:25cm;" class="nav-link" [routerLink]="['/User']">Sign in <img style="height: 0.7cm; width:0.8cm ;" src="https://www.simplyhealth.co.uk/shcore/sh/furniture/images/svgs/top-nav-account-icon.svg" alt=""> </a>

        </div>
      </div>
    </div>
  </nav>


 