<div style="width: 6cm;float: left;margin-left: 2cm;">
<table style="  border: 0.2px solid gainsboro;height: 9.5cm;" class="table">
    <tbody>
        <tr>
            <td>
                <button id="butsss" (click)="All()"  style="width: 6cm;"class="btn btn-light">All Categories</button>      
            </td> 

        </tr>
        <tr>
            <td>
                
                <button (click)="Bread()" style="width: 6cm;"class="btn btn-light">Bread</button>      
            </td> 

        </tr>
        <tr>
            <td>
                <button (click)="DiaryProducts()"  style="width: 6cm;"class="btn btn-light">Diary Products</button>      
            </td> 

        </tr>
        <tr>
            <td>
                <button (click)="Vegetables()"  style="width: 6cm;"class="btn btn-light">Vegetables </button>      
            </td> 

        </tr>
        <tr>
            <td>
                <button (click)="Fruits()" style="width: 6cm;"class="btn btn-light">Fruits </button>      
            </td> 

        </tr>
        <tr>
            <td>
                <button (click)="Technology()" style="width: 6cm;"class="btn btn-light">Technology </button>      
            </td> 

        </tr>
        <tr>
            <td>
                <button (click)="Other()" style="width: 6cm;"class="btn btn-light">Other </button>      
            </td> 

        </tr>
             

        
    </tbody>
</table>
</div>
