<div class="row justify-content-center">
<img style="width: 10cm;height: 10cm;" src="https://thumbs.dreamstime.com/b/check-mark-sign-checklist-green-marking-logo-web-pictogram-positive-checked-confirm-accept-okey-circle-confirmation-success-166285257.jpg" alt="">
<h2 style= "color: #212429;" class="row justify-content-center">Your Order is confirmed</h2>
<h4 style= "color: #212429;"  class="row justify-content-center">Thanks for shopping! Your order hasn't shipped yet,</h4> 
<h4 style= "color: #212429;"  class="row justify-content-center">but we'll send you an email
    when it does
</h4>
</div>